@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: light-dark(#f4f4f5, #27272a);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: light-dark(#e4e4e7, #3f3f46);
}
